<header class="header-global">
    <nav id="navbar-main" aria-label="Primary navigation" class="navbar navbar-main navbar-expand-lg navbar-theme-primary headroom navbar-dark">
        <div class="container position-relative">
            <div class="nav-wrapper position-relative d-flex justify-content-between align-items-center">
                <!-- Logo -->
                <a class="navbar-brand me-md-3" href="{{ url_for('home_blueprint.index') }}">
                    <img class="navbar-brand-dark" src="/static/assets/img/brand/light.svg" alt="Logo light">
                    <img class="navbar-brand-light" src="/static/assets/img/brand/dark.svg" alt="Logo dark">
                </a>

                <ul class="nav nav-pills nav-fill flex-column flex-md-row d-flex">
                    {% if current_user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link mb-0" data-toggle="tab" href="#"><span class="icon-secondary"><i class="far fa-user-circle mr-2"></i>Profile</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mb-0" data-toggle="tab" href="{{ url_for('pemesanan_blueprint.register_kendaraan') }}"><span class="icon-danger"><i class="fas fa-car mr-2"></i>Tambah Kendaraan</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mb-0" data-toggle="tab" href="{{ url_for('authentication_blueprint.logout') }}"><span class="icon-secondary"><i class="fas fa-sign-out-alt mr-2"></i>Logout</span></a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link mb-0" data-toggle="tab" href="{{ url_for('authentication_blueprint.login') }}"><span class="icon-secondary"><i class="fas fa-sign-in-alt mr-2"></i>Login</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mb-0" data-toggle="tab" href="{{ url_for('authentication_blueprint.register') }}"><span class="icon-secondary"><i class="fas fa-user-plus mr-2"></i>Signup</span></a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>

<style>
    /* Ini untuk menyetarakan logo dan nav items-nya */
    .nav-pills .nav-item {
        margin-bottom: 0;
    }
</style>