{% extends "layouts/base.html" %}

{% block content %}
    <main>
    {% include 'includes/preloader.html' %}

    <!-- Hero -->
    <div class="section-header pb-6 bg-primary text-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 text-center">
                    <h1 class="display-3 mb-4">Pemesanan produk</h1>
                    <p class="lead mb-5">Pesan produk sesuai yang anda inginkan</p>
                </div>
            </div>
        </div>
    </div>


    </main>


{% endblock content %}